<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/version-planner-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>version</key>
			<defaultValue>core</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${version}"
				class="ch.qos.logback.core.FileAppender">
				<immediateFlush>true</immediateFlush>
				<append>false</append>
				<encoder>
					<pattern>%msg%n</pattern>
				</encoder>
					<file>logs/vvp-${version}.log</file>
			</appender>
		</sift>
		</appender>

	<logger name="ch.qos" level="error" additivity="true">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="com.example.versionplanner.VersionReleaseService" level="info" additivity="false">
	<appender-ref ref="SIFT" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>