<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VVR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <base href="/vvp">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"/>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css'
          type='text/css' media='all'/>
</head>

<body>
<div id="app" ng-controller="versionManager as $ctrl">
    <div id="header">
        <h5 class="float-vertical-align">
            <a href="#" onclick="event.preventDefault();editUserName()" id="user">
                <div><i class="fa fa-user" aria-hidden="true"></i> {{user.name}}</div>
            </a>
        </h5>
        <h5 class="float-vertical-align">
            <a href="#" data-toggle="modal" data-target="#infoModal" id="user" >
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
        </h5>
        <h3 class="text-muted font-italic font-weight-bold ">
            <i class="fa fa-truck text-success" aria-hidden="true"></i>
            <span id="grad1"> Verto Version Releaser</span>
            <a ng-if="$ctrl.planned.length > 0" href="#" ng-click="$event.preventDefault();$ctrl.releaseAll()"
               class="align-middle release-all"> <i class="fa  fa-plane" aria-hidden="true"> Release all </i>
            </a>
        </h3>

    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-9 animate-repeat">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active " aria-current="page"><i class="fa fa-paper-plane"
                                                                               aria-hidden="true"></i>
                        Planned
                    </li>
                </ol>
                </ol>

            </nav>
            <div class="row">
                <planned class="example-animate-container" user={{user}}/>
            </div>

            <br>
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-database"
                                                                              aria-hidden="true"></i>
                        Available
                    </li>
            </nav>
            <br>
            <div class="row">
                <div class=" col-sm-12 col-md-3 animate-repeat">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <button ng-click="$ctrl.addVersion()" class="btn-sm btn-success" style="width: 100%"><i
                                        class="fa fa-plus"
                                        aria-hidden="true"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <avaliable class="example-animate-container" user={{user}}/>
            </div>
            <br>
        </div>
        <div class="col-sm-12 col-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-clock-o"
                                                                              aria-hidden="true"></i>
                        In progress
                    </li>
                </ol>
                <current versions="$ctrl.versions"/>
            </nav>
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-history"
                                                                              aria-hidden="true"></i>
                        Lastest versions
                    </li>
                </ol>
                <history/>
            </nav>
        </div>
    </div>
</div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pl.js"
        integrity="sha256-prSi7A1V9ZxDIIGoYopovpFgGHQodz6JVZu5Aad7o8s=" crossorigin="anonymous"></script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type='text/javascript'
        src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
<script src="vvp/app.js"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter user name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="closeModal()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input placeholder="np. MirekSz" type="text" class="form-control" id="user-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Contact</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext"  value="Mirek Szajowski">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Workdir</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext"  value="/home/neds/mirek/vvp">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Logs</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext"  value="/home/neds/mirek/vvp/logs">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Start/Stop</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext"  value="service vvp start/stop">
    </div>
  </div>
  </form>
            </div>
              <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
        </div>
    </div>
</div>
</body>

</html>
