<div class="card">
    <div class="card-header">
        <div class="pull-left">
            <h5 ng-class="{'text-danger': $ctrl.data.state == 'ERROR','text-primary': $ctrl.data.state == 'RUNNING'} ">
                <i
                        class="fa  fa-star" aria-hidden="true" ng-if="$ctrl.data.state != 'RUNNING'"></i>
                <i
                        class="fa fa-spinner  fa-spin" aria-hidden="true" ng-if="$ctrl.data.state == 'RUNNING'"></i>
                {{$ctrl.data.name}}
                <span ng-if="$ctrl.data.watchers.length">  ({{$ctrl.data.watchers.length}})</span>
            </h5>
        </div>
        <a ng-if="$ctrl.data.state == 'ERROR'" href="#" title="Show error"
           ng-click="$event.preventDefault();$ctrl.showError($ctrl.data)"
           class="btn-sm btn-danger align-middle pull-right marg"> <i class="fa  fa-bug" aria-hidden="true"></i>
        </a>
        <a ng-if="!$ctrl.data.voted && $ctrl.data.state != 'RUNNING'" href="#" title="Add vote"
           ng-click="$event.preventDefault();$ctrl.add($ctrl.data,null, 'up')"
           class="btn-sm btn-primary align-middle pull-right marg"> <i class="fa  fa-thumbs-up" aria-hidden="true"></i>
        </a>

        <a ng-if="$ctrl.data.voted && $ctrl.data.state != 'RUNNING'" href="#" title="Remove vote"
           ng-click="$event.preventDefault();$ctrl.remove($ctrl.data,null, 'down') "
           class="btn-sm btn-primary align-middle pull-right marg"> <i class="fa  fa-thumbs-down"
                                                                       aria-hidden="true"></i>
        </a>

        <a href="#" ng-if="$ctrl.data.watchers.length>0 && $ctrl.data.state != 'RUNNING'"
           ng-click="$event.preventDefault();$ctrl.release($ctrl.data.name)" title="Release"
           class="btn-sm btn-primary align-middle pull-right marg"> <i class="fa  fa-plane" aria-hidden="true"></i>
        </a>

		 <a href="#" ng-if="$ctrl.data.watchers.length==0 && $ctrl.data.role != 'release'"
           ng-click="$event.preventDefault();$ctrl.deleteVersion($ctrl.data.name)" title="Delete version"
           class="btn-sm btn-primary align-middle pull-right marg"> <i class="fa  fa-trash" aria-hidden="true"></i>
        </a>

    </div>
    <div class="card-body" ng-if="$ctrl.data.watchers.length > 0">
        <ul class="list-group example-animate-container">
            <li ng-repeat="w in $ctrl.data.watchers" class="animate-repeat list-group-item "><i class="fa fa-user"
                                                                                                aria-hidden="true"></i>
                {{w.user.name}}
                <div class="pull-right">
                    {{w.date | date:'EEEE HH:mm' }}
                </div>
            </li>
        </ul>
    </div>
</div>
