#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, #28a745, #007bff);
    background: -o-linear-gradient(right, #28a745, #007bff);
    background: -moz-linear-gradient(right, #28a745, #007bff);
    background: linear-gradient(to right, #28a745, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.breadcrumb {
    padding: .25rem .6rem !important;
}

.card {
    margin: 2px;
}

.marg {
    margin-right: 5px;
}

.list-group-item:hover {
    background-color: rgba(224, 215, 215, 0.253) !important;
    cursor: pointer !important;
}

.card-body {
    overflow-y: auto;
    max-height: 300px;
}

.example-animate-container {
}

.animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: all linear 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}

