<div class="card">
    <div class="card-header">
        <div class="pull-left">
            <h5 ng-class="{'text-success': $ctrl.role == 'release'} "><i class="fa  fa-star" aria-hidden="true"></i>
                {{$ctrl.data.name}}
                <span ng-if="$ctrl.data.watchers.length">  ({{$ctrl.data.watchers.length}})</span>
            </h5>
        </div>
        <a ng-if="!$ctrl.data.voted" href="#" ng-click="$ctrl.add($ctrl.data,null, 'up')"
           class="btn-sm btn-primary align-middle pull-right"> <i class="fa  fa-thumbs-up" aria-hidden="true"></i>
        </a>

        <a ng-if="$ctrl.data.voted" href="#" ng-click="$ctrl.remove($ctrl.data,null, 'down')"
           class="btn-sm btn-primary align-middle pull-right"> <i class="fa  fa-thumbs-down" aria-hidden="true"></i>
        </a>

        <a href="#" ng-if="$ctrl.data.watchers.length>0" ng-click="$ctrl.release($ctrl.data.name)"
           class="btn-sm btn-primary align-middle pull-right marg"> <i class="fa  fa-plane" aria-hidden="true"></i>
        </a>
    </div>
    <div class="card-body" ng-if="$ctrl.data.watchers.length > 0">
        <ul class="list-group example-animate-container">
            <li ng-repeat="w in $ctrl.data.watchers" class="animate-repeat list-group-item "><i class="fa fa-user"
                                                                                                aria-hidden="true"></i>
                {{w.user.name}}
                <div class="pull-right">
                    {{w.date | date:'EEEE HH:mm' }}
                </div>
            </li>
        </ul>
    </div>
</div>
