<div class="card">
    <div class="card-body">
        <a ng-if="$ctrl.voted" href="#" ng-click="$ctrl.addWatcher()"
           class="btn-sm btn-primary pull-right"> <i class="fa  fa-thumbs-up" aria-hidden="true"></i>
        </a>
        <a ng-if="!$ctrl.voted" href="#" ng-click="$ctrl.removeCurrentWatcher()"
           class="btn-sm btn-primary pull-right"> <i class="fa  fa-thumbs-down" aria-hidden="true"></i>
        </a>
        <div class="card-title">
            <h5 ng-class="{'text-success': $ctrl.role == 'release'}"><i class="fa fa-star" aria-hidden="true"></i>
                {{$ctrl.data.name}}
                ({{$ctrl.data.watchers.length}})
            </h5>
        </div>

        <ul class="list-group example-animate-container">
            <li ng-repeat="w in $ctrl.data.watchers" class="animate-repeat list-group-item "><i class="fa fa-user"
                                                                                                aria-hidden="true"></i>
                {{w.name}}
                <div class="pull-right">
                    {{w.date | date:'EEEE HH:mm' }}
                </div>
            </li>
        </ul>
    </div>
</div>
